.card {
  width: 20%;
  height: 350px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 30px;
  float:left;
  margin: 5px;
  padding: 1.5%;
}

.card img {
  width: 200px;

}

.card li {
  text-align: center;
}
